<% content_for :title, "New Property" %>

<div class="text-center mx-auto">
  <h1 class="text-3xl font-bold mx-auto">New Property</h1>
</div>

<div class="container mx-auto px-4">
  <%= render partial: "properties/form" %>
</div>
