    <div class="border-zinc-200 border-b text-zinc-600 dark:text-zinc-100 dark:border-zinc-600">
      <nav role="navigation" class="-mb-px">
        <a href="#" data-tabs-target="tab" data-action="click->tabs#change"
          class="py-4 px-4 border-b border-primary-600 inline-block bg-white whitespace-nowrap dark:bg-zinc-900">Renewals Due</a>
        <a href="#" data-tabs-target="tab" data-action="click->tabs#change"
          class="py-4 px-4 bg-white dark:bg-zinc-900 inline-block whitespace-nowrap">Current</a>
        <a href="#" data-tabs-target="tab" data-action="click->tabs#change"
          class="py-4 px-4 bg-white dark:bg-zinc-900 inline-block whitespace-nowrap">Expired</a>
        <a href="#" data-tabs-target="tab" data-action="click->tabs#change"
          class="py-4 px-4 bg-white dark:bg-zinc-900 inline-block whitespace-nowrap">All</a>
      </nav>
    </div>